.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background: blue;
  height: 80px;
}

.content {
  flex-grow: 1;
}

.footer {
  display: flex;
  justify-content: center;
  background: red;
  height: 100px;
}

.nowPlaying {
  display: flex;
  width: 33%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}

.songCover {
  vertical-align: top;
  height: 100%;
}

.songActions {
  display: flex;
  justify-content: space-around;
}

.songActions > i {
  font-size: 15px;
  padding-left: 10px;
}

.songInfo {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-around;
}

.songInfo > h2 {
  font-size: 12px;
}

.songAux {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
}

.audioControls {
  display: flex;
  width: 34%;
  align-items: center;
  justify-content: center;
}

.playButton {
  font-size: 40px;
}

.leftControls {
  width: 33%;
}
